%m-font-base {
  color: $m-color;
  font-family: $m-font-family;
  font-size: $m-font-size;
  line-height: $m-line-height;
  font-weight: $m-font-weight;
  text-rendering: optimizeLegibility;
}

%m-interact-base {
  cursor: pointer;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  text-rendering: optimizeLegibility;
  transition: all .27s ease-in-out;
  &:active,
  &:hover,
  &:focus {
    outline-width: 0;
  }
}
%m-input-base {
  @extend %m-font-base;
  @extend %m-interact-base;
  padding: .4em .8em;
  display: inline-block;
  margin: .2em 0;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @extend %m-font-base;
  background: $m-background;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $m-h-family;
  font-style: $m-h-style;
  font-weight: $m-h-weight;
  letter-spacing: $m-h-spacing;
  line-height: $m-h-height;
  text-rendering: optimizeLegibility;
  text-transform: $m-h-transform;
}

h1 {
  font-size: $m-h-size * 3;
}
h2 {
  font-size: $m-h-size * 2.5;
}
h3 {
  font-size: $m-h-size * 2;
}
h4 {
  font-size: $m-h-size * 1.4;
}
h5 {
  font-size: $m-h-size * 1.2;
}
h6 {
  font-size: $m-h-size;
}

a {
  @extend %m-interact-base;
  color: mix($m-primary, $m-color, 90%);
  display: inline;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  &.hover,
  &:active,
  &:hover,
  &:focus {
    color: mix($m-primary, $m-color, 100%);
    text-decoration: underline;
  }
}

article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

details {
  margin: $m-line-height 0 $m-line-height * 2;
}

summary {
  @extend %m-font-base;
  @extend %m-interact-base;
  color: rgba($m-color, .5);
  display: list-item;
  margin: $m-line-height 0 0;
  &:focus,
  &:hover {
    color: $m-color;
  }
}

blockquote {
  margin: $m-line-height * 2;
  font-family: $m-em-family;
  font-style: italic;
  font-size: 1.1em;
}

form,
figure {
  margin: $m-line-height 0;
}

figcaption {
  font-size: .8em;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
video {
  vertical-align: middle;
}

progress {
  vertical-align: baseline;
}

abbr,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dotted $m-color;
  cursor: help;
}

ins {
  border-bottom: 1px dashed $m-color;
}

b,
strong {
  font-weight: 900;
}

dfn,
i,
em,
cite,
q {
  font-family: $m-em-family;
  font-style: italic;
}

small {
  font-size: .7em;
}

sub,
sup {
  font-size: .7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

code,
kbd,
pre,
samp,
var,
mark {
  font-family: $m-code-family;
  font-size: .9em;
  font-weight: normal;
  padding: .4em .9em;
  display: inline-block;
  margin: .2em 0;
}

code {
  background: rgba($m-color,.05);
}

kbd {
  background: mix(#111, $m-primary, 95%);
  color: mix(#ddd, $m-primary, 95%);
}

pre {
  background: rgba($m-color,.05);
  margin: $m-line-height 0;
  padding: 1em;
  display: block;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  border: none;
  border-top: 1px solid rgba($m-color,.2);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: $m-line-height*2 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  @extend %m-input-base;
  background: $m-background;
  border: 1px solid rgba($m-color, .3);
  border-radius: 2px;
  color: $m-color;
  &.hover,
  &:focus,
  &:hover {
    border-color: rgba($m-color, .7);
  }
}

output {
  @extend %m-input-base;
  border-bottom: 1px solid rgba($m-color, .5);
  cursor: text;
  vertical-align: bottom;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: textfield;
  background-image: linear-gradient(45deg, transparent 50%, rgba($m-color, .5) 50%),
    linear-gradient(-45deg, transparent 50%, rgba($m-color, .5) 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

[type="file"] {
  display: inline-flex;
  align-items: center;
  padding-top: calc(.4em + 4px);
  padding-bottom: .4em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %m-input-base;
  background: mix($m-primary, $m-background, 0%);
  border-color: $m-primary;
  border-radius: 2px;
  color: mix($m-primary, $m-background, 100%);
  &.hover,
  &:focus,
  &:hover {
    background: mix($m-primary, $m-background, 100%);
    color: mix($m-primary, $m-background, 0%);
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  outline-width: 0;
}

fieldset {
  border: 1px solid rgba($m-color,.2);
  margin: $m-line-height 0;
  padding: 0.35em 0.7em 0.7em;
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
tbody tr,
tfoot tr {
  border-top: 1px solid rgba($m-color,.2);
}
th, td {
  padding: .4em .8em;
}

.bussy,
[aria-busy="true"] {
  cursor: progress !important;
}

.controls,
[aria-controls] {
  cursor: pointer !important;
}

.disabled,
[aria-disabled],
[disabled],
[disabled]:active,
[disabled]:focus,
[disabled]:hover {
  cursor: default !important;
  opacity: 0.3 !important;
  pointer-events: none !important;
}

.hidden,
[hidden] {
  display: none !important;
  pointer-events: none !important;
}

.readonly,
[readonly] {
  border-color: rgba($m-color, .15);
  cursor: default !important;
  pointer-events: none !important;
}

::-webkit-selection {
  background-color: $m-color;
  color: $m-background;
  text-shadow: none;
}
::-moz-selection {
  background-color: $m-color;
  color: $m-background;
  text-shadow: none;
}
::selection {
  background-color: $m-color;
  color: $m-background;
  text-shadow: none;
}
