@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|PT+Serif');

$m-background:  			#fff;
$m-color:       			#222029;
$m-primary:						#112;
$m-secondary:   			#777;
$m-accent:      			#00f;

$m-actn-color: 			  $m-primary;
$m-actn-color-hover:  mix($m-primary, $m-accent, 80%);
$m-actn-font:         $m-background;
$m-actn-font-hover:   $m-background;

$m-font-serif: 				'PT Serif', serif;
$m-font-family: 			'Open Sans', sans-serif;
$m-font-size:       	16px;
$m-font-weight:     	400;
$m-letter-spacing:  	normal;
$m-line-height:     	1.5em;

$m-code-family: 			monospace;

$m-h-family: 					'Josefin Sans', sans-serif;
$m-h-size:   					23px;
$m-h-height: 					1em;
$m-h-spacing:					normal;
$m-h-weight: 					600;
$m-h-style:  					normal;
$m-h-transform:  			normal;

$m-transition:				all 0.3s cubic-bezier(0.465, 0.240, 0.370, 0.825);
