/*
 * mol.normalize v2.0.1
 * editable normalize file. used in modules in mol-project
 * MIT License
 * https://github.com/mol-project
 */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|PT+Serif");
summary, body, button,
input[type=button],
input[type=reset],
input[type=submit], output, [type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

button,
input[type=button],
input[type=reset],
input[type=submit], audio,
video, summary, a {
  cursor: pointer;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  text-rendering: optimizeLegibility;
  transition: all 0.27s ease-in-out;
}
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active, audio:active,
video:active, summary:active, a:active, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover, audio:hover,
video:hover, summary:hover, a:hover, button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus, audio:focus,
video:focus, summary:focus, a:focus {
  outline-width: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit], output, [type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.4em 0.8em;
  max-width: calc(100% - 1.6em);
  transition: all 0.27s ease-in-out;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #0a0838;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1em;
  text-rendering: optimizeLegibility;
  text-transform: normal;
}

h1 {
  font-size: 69px;
}

h2 {
  font-size: 57.5px;
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 32.2px;
}

h5 {
  font-size: 27.6px;
}

h6 {
  font-size: 23px;
}

a {
  color: #ff6363;
  display: inline;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
}
a.hover, a:active, a:hover, a:focus {
  color: #ff5252;
  text-decoration: underline;
}

article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

details {
  margin: 1.5em 0 3em;
}

summary {
  color: rgba(255, 255, 255, 0.5);
  display: list-item;
  margin: 1.5em 0 0;
}
summary:active, summary:hover, summary:focus {
  color: #fff;
}

blockquote {
  margin: 3em;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.1em;
}

form,
figure {
  margin: 1.5em 0;
}

figcaption {
  font-size: 0.8em;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
video {
  vertical-align: middle;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

abbr,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dotted #fff;
  cursor: help;
}

ins {
  border-bottom: 1px dashed #fff;
}

b,
strong {
  font-weight: 900;
}

dfn,
i,
em,
cite,
q {
  font-family: "PT Serif", serif;
  font-style: italic;
}

small {
  font-size: 0.7em;
}

sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
kbd,
pre,
samp,
var,
mark {
  font-family: monospace;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.4em 0.9em;
  display: inline-block;
  margin: 0.2em 0;
}

code {
  background: rgba(255, 255, 255, 0.05);
}

kbd {
  background: #ffeeee;
  color: #230f3b;
}

pre {
  background: rgba(255, 255, 255, 0.05);
  margin: 1.5em 0;
  padding: 1em;
  display: block;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 3em 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  background: #0a0838;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  color: #fff;
}
[type=date].hover, [type=date]:active, [type=date]:hover, [type=date]:focus,
[type=datetime].hover,
[type=datetime]:active,
[type=datetime]:hover,
[type=datetime]:focus,
[type=datetime-local].hover,
[type=datetime-local]:active,
[type=datetime-local]:hover,
[type=datetime-local]:focus,
[type=email].hover,
[type=email]:active,
[type=email]:hover,
[type=email]:focus,
[type=file].hover,
[type=file]:active,
[type=file]:hover,
[type=file]:focus,
[type=month].hover,
[type=month]:active,
[type=month]:hover,
[type=month]:focus,
[type=number].hover,
[type=number]:active,
[type=number]:hover,
[type=number]:focus,
[type=password].hover,
[type=password]:active,
[type=password]:hover,
[type=password]:focus,
[type=search].hover,
[type=search]:active,
[type=search]:hover,
[type=search]:focus,
[type=tel].hover,
[type=tel]:active,
[type=tel]:hover,
[type=tel]:focus,
[type=text].hover,
[type=text]:active,
[type=text]:hover,
[type=text]:focus,
[type=time].hover,
[type=time]:active,
[type=time]:hover,
[type=time]:focus,
[type=url].hover,
[type=url]:active,
[type=url]:hover,
[type=url]:focus,
[type=week].hover,
[type=week]:active,
[type=week]:hover,
[type=week]:focus,
textarea.hover,
textarea:active,
textarea:hover,
textarea:focus,
select.hover,
select:active,
select:hover,
select:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

output {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  vertical-align: bottom;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: textfield;
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%), linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

[type=file] {
  display: inline-flex;
  align-items: center;
  padding-top: calc(.4em + 4px);
  padding-bottom: 0.4em;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  background: #0a0838;
  border-color: #ff5252;
  border-radius: 2px;
  color: #ff5252;
}
button.hover, button:active, button:hover, button:focus,
input[type=button].hover,
input[type=button]:active,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset].hover,
input[type=reset]:active,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=submit].hover,
input[type=submit]:active,
input[type=submit]:hover,
input[type=submit]:focus {
  background: #ff5252;
  color: #0a0838;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  outline-width: 0;
}

fieldset {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1.5em 0;
  padding: 0.35em 0.7em 0.7em;
  max-width: calc(100% - 1.4em);
  display: block;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody tr,
tfoot tr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

th, td {
  padding: 0.4em 0.8em;
}

.bussy,
[aria-busy=true] {
  cursor: progress !important;
}

.controls,
[aria-controls] {
  cursor: pointer !important;
}

.disabled,
[aria-disabled],
[disabled],
[disabled]:active,
[disabled]:focus,
[disabled]:hover {
  cursor: default !important;
  opacity: 0.3 !important;
  pointer-events: none !important;
}

.hidden,
[hidden] {
  display: none !important;
  pointer-events: none !important;
}

.readonly,
[readonly] {
  border-color: rgba(255, 255, 255, 0.15);
  cursor: default !important;
  pointer-events: none !important;
}

::-webkit-selection {
  background-color: #fff;
  color: #0a0838;
  text-shadow: none;
}

::-moz-selection {
  background-color: #fff;
  color: #0a0838;
  text-shadow: none;
}

::selection {
  background-color: #fff;
  color: #0a0838;
  text-shadow: none;
}

/*# sourceMappingURL=normalize.css.map */
